body {
  font-family: "Lucida Grande", arial, helvetica, clean, sans-serif;
  font-size: 13px;
  line-height: 1.35em;
}
#main {
  width: 760px;
  margin: 0 auto;
}
/*SlickGrid */
.slick-header-column {
  font-weight:bold;
  border-right: none !important;
}
.slick-cell {
  border: none !important;
}
.slick-row.odd {
  background: rgba(0,0,0,0.03);
}
.slick-row {
  height: 20px !important;
}

/* Parallel Coordinates */
#parallel-coordinates {
  position: relative;
}
#parallel-coordinates canvas {
  position: absolute;
}
#parallel-coordinates .axis,
#parallel-coordinates canvas.axis-data,
#parallel-coordinates canvas.axis-filter {
  position: absolute;
  display: block;
  width: 16px;
}
#footer {
  padding: 60px;
  color: #888;
  font-size:13px;
}

